
  
  <div class="container text-secondary" legend>
    <span class="text-secondary">FAQs</span>
  <p style="color:whitxe">
    <button class="navbar-toggler  b" style="border 11px solid whitxe" type="button" data-bs-toggle="collapse" data-bs-target="#assey" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
      <p class='text-secondary dd'>
        Je nitafanyaje ili kujiunga na kutumia hii app?
    </p>
    </button></p>
    
    
  <p style="color:whitxe">
    <button class="navbar-toggler  b" style="border 11px solid whitxe" type="button" data-bs-toggle="collapse" data-bs-target="#hitilafu" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
      <p class='text-secondary dd'>
        Je nikipata hitilafu yoyote nikiwa ndani ya mfumo nafanyaje ?
    </p>
    </button></p>
    
    
    
  <p style="color:whitxe">
    <button class="navbar-toggler  b" style="border 11px solid whitxe" type="button" data-bs-toggle="collapse" data-bs-target="#kushiriki" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
      <p class='text-secondary dd'>
        Je naweza kushiriki UMODesk na ndugu jamaa na marafiki?
    </p>
    </button></p>
    
    <div class="collapse navbar-collapse b" 
    id="assey">
      <ul class="btn btn-secondary ">
        <p>ili kutumia hii app jambo la kwanza ni kujisajili kwa kugusa kitufe cha Signup.Ukisha maliza jaza taalifa zako humu kisha  nenda kwenye kitufe cha login hapo uta ruhusiwa kuingiza taarifa zako na kupata kibali kamili cha kuingia kwenye mfumo huu wa UMODesk</p>
      </ul>
      

    </div>
    
    <div class="collapse navbar-collapse b" 
    id="hitilafu">
      <ul class="btn btn-secondary ">
        <p>Mfumo wa UMODesk umerahisisha huduma kwani endapo ikitokea hitilafu ndani ya mfumo huu tuna njia za kutatua kupita kipengele cha feedback na njia ya <a href="wa.me/0748384604">WatsApp</a>
        
        </p>
      </ul>
      

    </div>
    
    
    <div class="collapse navbar-collapse b" 
    id="kushiriki">
      <ul class="btn btn-secondary ">
        <p>
        Ndio,UMODesk ni kwajili ya jamii .Mfumo huu umejikita kusambaza mafunzo kwa watu ...ikiwemo machapisho ya vitabu na makala kwa waandishi (local content) hivyo nivizuri kama ukishea na jamaa zako kuwaongezea maarifa
        </p>
      </ul>
      

    </div>
    
    
 <center> <p class="text-secondary fw-bold">&#169 UMODesk <script>var d=new Date().getYear();</script>2024</p></center>
  </div>
  