  <div class="container text-secondary" legend>
    <span class="text-secondary ij">Help & FAQs</span>
  <p style="color:whitxe">
    <button class="navbar-toggler  b" style="border 11px solid whitxe" type="button" data-bs-toggle="collapse" data-bs-target="#assey" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
      <p class='text-secondary dd'>
        Je nitafanyaje ili kujiunga na kutumia hii app?
    </p>
    </button></p>
    
    
  <p style="color:whitxe">
    <button class="navbar-toggler  b" style="border 11px solid whitxe" type="button" data-bs-toggle="collapse" data-bs-target="#hitilafu" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
      <p class='text-secondary dd'>
        Je nikipata hitilafu yoyote nikiwa ndani ya hii app nafanyaje ?
    </p>
    </button></p>
    
    
    
  <p style="color:whitxe">
    <button class="navbar-toggler  b" style="border 11px solid whitxe" type="button" data-bs-toggle="collapse" data-bs-target="#kushiriki" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
      <p class='text-secondary dd'>
        Je naweza kushiriki app hii na ndugu jamaa na marafiki?
    </p>
    </button></p>
    
    <div class="collapse navbar-collapse b" 
    id="assey">
      <ul class="btn btn-secondary ">
        <p>ili kutumia hii app jambo la kwanza ni kujisajili kwa kugusa kitufe cha Signup.Ukisha maliza jaza taalifa zako humu kisha  nenda kwenye kitufe cha login hapo uta ruhusiwa kuingiza taarifa zako na kupata kibali kamili cha kuingia kwenye app hii 
        -ukisha jisajili nenda moja kwa moja kwenye ku login usiendelee kuingiza taarifa kwani mfumo uta kublock </p>
      </ul>
      

    </div>
    
    <div class="collapse navbar-collapse b" 
    id="hitilafu">
      <ul class="btn btn-secondary ">
        <p>hii app imerahisisha huduma kwani endapo ikitokea hitilafu ndani ya mfumo huu tuna njia za kutatua kupita kipengele cha feedback na njia ya <a href="https://wa.me/+255782702502"> WhatsApp</a> | <a href="mailto:mwlwaphysicsict@gmail.com"> barua pepe</a>

        
        </p>
      </ul>
      

    </div>
    
    
    <div class="collapse navbar-collapse b" 
    id="kushiriki">
      <ul class="btn btn-secondary ">
        <p>
        Ndio, ni kwajili ya jamii .App hii imejikita katika kufundisha matumizi ya tehama, kutengeneza program za tehama kutatua changamoto za kijamii na kueneza teknolojia hii kwa watu mbali mbali ...ikiwemo machapisho ya vitabu na makala kwa waandishi (local content) hivyo nivizuri kama ukishea na jamaa zako kuwaongezea maarifa
        </p>
      </ul>
      

    </div>
  </div>
  
 <center> <p class="text-secondary fw-bold">&#169 roitecheducation-college<script>var d=new Date().getYear();</script>2024</p></center>
</div>
