<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uanafunzi na Maandiko Online</title>
    <!-- Link to Bootstrap CSS from node_modules -->
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
     <script src="/js/pdf.min.js"></script> 
    <!-- Link to your custom CSS file -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-navy">
  <centre> <h1 class="centre">UMODESK</h1></centre>
  <div class="container">
    <span class="navbar-brand" >menu</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a><a class="nav-link" href="/signup">Signup</a>
        </li>
      </ul>
      
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mybooks">Notifications<span style='color:blue;font-weight:bold'>(0)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/salio">Salio</a>
        </li>
        
         <li class="nav-item">
          <a class="nav-link" href="/upload">upload</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
<div class="content">
  
  <pan>
    <p>karibu UMODESK</p>
    
    Gusa kitufe cha menu upande wa kulia juu</pan>
  
</div>
    <!-- Your navigation bar and content area here -->
    <!-- Don't forget to include your JavaScript file (e.g., script.js) -->
    <script src="/js/script.js"></script>
        <script src="/js/pdf.min.js"></script>

    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/pdf.mjs"></script>

</body>
</html>