<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uanafunzi na Maandiko Online</title>
    <!-- Link to Bootstrap CSS from node_modules -->
    
    <link rel="stylesheet" href="/js/bootstrap.min.js">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
     <script src="/js/pdf.min.js"></script> 
    <!-- Link to your custom CSS file -->
    <link rel="stylesheet" href="/css/styles.css">
    <style>
      
    .a{
     
      background-image:url('uploads/mobcashfooter.jpg');
       }
      .b{
        font-weight: bold;
        text-decoration: none;
        color:white;
      }
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg a">
  <h1 class=" b">UMODesk</h1>
  <div class="container b">
    <span class="b">MENU</span>
  <p style="color:white">
    <button class="navbar-toggler  b" style="border 11px solid white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
      <p style="background-color:white">
    <span class="navbar-toggler-icon b"></span></p>
    </button></p>
    <div class="collapse navbar-collapse b" 
    id="navbarNav">
      <ul class="navbar-nav me-auto ">
        <li class="nav-item">
         <a class="nav-link " href="/login"><span class="b">Login</span></a>
         <a class="nav-link a" href="/signup"><span class="b">Signup</span></a>
        </li>
      </ul>
      
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
         <span class="a"></span> <a class="nav-link a" href="/home"><span class="b">Home</span></a></span>
        </li>
        <li class="nav-item">
          <a class="nav-link a" href="/mybooks"><span class="b">Notifications</span><span style='color:white;font-weight:bold'>(0)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link a" href="/salio"><span class="b">Salio</span></a>
        </li>
        
         <li class="nav-item">
          <a class="nav-link a" href="/upload"><span class="b">upload</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
<div class="content">
  
  <pan>
    <p>karibu UMODESK</p>
    
    Gusa kitufe cha menu upande wa kulia juu</pan>
  
</div>
    <!-- Your navigation bar and content area here -->
    <!-- Don't forget to include your JavaScript file (e.g., script.js) -->
    <script src="/js/script.js"></script>
        <script src="/js/pdf.min.js"></script>

    <script src="/js/bootstrap.min.js"></script>

<script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/pdf.mjs"></script>
</body>
</html>